#ph1{
background-color: black;
padding: 25px;
height: 450px;
width: 390px;
box-shadow: inset 0px 0px 5px 18px white;

border-style: outset;
border-width: 5px;
border-color: black;
 }
 #p1{
 width: 390px;
 height: 450px;
 }
 #ct1{
 background-color: aliceblue;
 padding: 30px;
 width: 380px;
 height: 100;
 border-style: inset;
 border-width:5px;
 border-color: black
 }
 #td{
 padding: 25px
 }
 #sten{
padding: 25px;
height: 450px;
width: 390px;
border-width: 5px;
}
#cten{
 padding: 30px;
 width: 380px;
 height: 100;
 
}